<!--<div>-->
<!--  -->
<!--  <br><br><br>-->

<!--  <mat-form-field>-->
<!--    <mat-label>County</mat-label>-->
<!--    <mat-select formControlName="sector" (valueChange)="getDistrictByParentId($event)">-->
<!--      <mat-option *ngFor="let county of counties" [value]="county.id">-->
<!--        {{county.name}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->


<!--  <mat-form-field>-->
<!--    <mat-label>County</mat-label>-->
<!--    <mat-select formControlName="sector" (valueChange)="getDistrictByParentId($event)">-->
<!--      <mat-option *ngFor="let district of districts" [value]="district.id">-->
<!--        {{district.name}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->


<!--</div>-->
<h1 mat-dialog-title>Add Project Location</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>County</mat-label>
    <mat-select formControlName="sector" (valueChange)="getDistrictByParentId($event)">
      <mat-option *ngFor="let county of counties" [value]="county.id">
        {{county.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>County</mat-label>
    <mat-select formControlName="sector">
      <mat-option *ngFor="let district of districts" [value]="district.id">
        {{district.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
<!--  <button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>
