<form [formGroup]="form1" (ngSubmit)="onSubmit()">
  <div style="position: fixed; font-family: Roboto">

    <div style="position:fixed;">
      <img src="assets/addProjectHeader.png" width="117%" height="150px">
    </div>

    <div style="position:fixed;">
      <div style="margin-left: 400px; margin-top: 17px; color: white">
        <h3 style="display: inline; font-size: 21px"> {{project.startDate | date}} - </h3>
        <pre style="display: inline; background-color: transparent; border: transparent"> </pre>
        <p style="display: inline; font-size: 18px">{{project.projectTitle}}</p>
      </div>
      <br>
      <p style="color: white; font-size: 13px; margin-left: 400px">{{project.description}}</p>
    </div>

    <div style="position: fixed; margin-left: 1200px">
      <button
        style="background-color: rgba(111, 172, 40, 1) ; color: white;   margin: 3px 4px;  width: 85px;  height: 35px;    padding: 3px;">
        CANCEL
      </button>
      <button style="margin: 3px 4px;  width: 85px;  height: 35px;  padding: 3px;">SAVE</button>

            <button type="submit" [disabled]="!form1.valid">{{form1.status}}</button>
      <button style="width: 120px;margin: 3px 4px;  height: 35px;  padding: 3px;">SEVE & CLOSE
      </button>
    </div>


  </div>


  <div style="width: 500px; padding: 120px"></div>

  <div class="sample">

    <div
      style=" margin-left:  155px; background-color: white; width: 1240px; padding: 22px; font-family: 'Roboto'">
      <p style="font-size: 16px">SAMPLE</p><br><br>
      <label>
        <p>
          Project Code</p>
        <input type="text" appInput formControlName="projectCode" required/>
      </label>

      <label style="margin-left: 25px">
        <p>
          Project Title </p>
        <input type="text" appInput style="width: 890px;" formControlName="projectTitle"
                required>
      </label><br><br><br>

      <label>
        <p>Description</p><br>
        <textarea [cols]="152" appInput [rows]="5" type="text" formControlName="description"></textarea>
      </label><br><br>

      <div style="font-size: 13px">
        <label>
          <p>
            Implementation Status</p>
          <select appInput style="width: 270px" formControlName="implementationStatus" required>
            <option [value]=0 selected>-select-</option>
            <option *ngFor="let status of imp_statuses" [value]="status.id">{{status.name}}</option>
          </select>
        </label>

        <label style="margin-left: 90px">
          <p>
            Planned Start Date </p>
          <input #p appInput type="date" [(ngModel)]="project.startDate" formControlName="startDate" required>
        </label>

        <label style="margin-left: 50px">
          <p>
            Planned End Date </p>
          <input #pp appInput type="date" [(ngModel)]="project.endDate" formControlName="endDate">
        </label>

        <label style="margin-left: 50px">
          <p>
            Duration </p>
          <!--          <input appInput [disabled]="$any(true)"  [value]="duration"> -->
          <input appInput [disabled]="$any(true)">

          <!--                  <button (click)="getDuration()">aa</button>-->
        </label>
      </div>

      <!--      <button type="submit" [disabled]="!form1.valid">{{form1.status}}</button>-->

    </div>


  </div>


  <div style="margin-top: 30px">

    <form [formGroup]="sectorsForm" (ngSubmit)="sectorsAdd()">
      <div
        style="margin-top: 34px; margin-left:  155px; background-color: white; width: 1240px; padding: 22px; padding-bottom: 50px">
        <p style="font-size: 16px">Sectors (in line table)</p><br>
        <div>
          <p *ngIf="sectorsArr.length>0">Sector Name <span style="margin-left: 590px">%</span></p>

          <table border="1px">
            <tr *ngFor="let i of sectorsArr">
              <td style="width: 400px; height: 50px">{{i.sectorName}}</td>
              <td style="width: 300px; height: 50px">{{i.percent}}</td>
            </tr>
          </table>
        </div>
        <!--      <ol>-->
        <!--        <li *ngFor="let i of sectorsArr">{{i.sectorName}}, {{i.percent}}</li>-->
        <!--      </ol>-->
        <div style="margin-top: 20px">
          <select style="width: 270px" formControlName="sector" appInput>
            <option *ngFor="let sector of sectors" [value]="sector.id">{{sector.name}}</option>
          </select>

          <input class="sectorInput" type="number" formControlName="percent" appInput #name min="0" max="100"> %
          <button class="sectorButton" type="submit">ADD</button>
        </div>
      </div>
    </form>


  </div>

  <div
    style="margin-top: 34px; margin-left:  155px; background-color: white; width: 1240px; padding: 22px; margin-bottom: 140px">
    <p style="font-size: 16px">Project Locations (pop-up table)</p><br>


    <div style="height: 200px">
    </div>

    <button class="sectorButton" style="margin-left: 0" routerLink="/add">ADD</button>


  </div>





  <div style="width: 500px; padding: 120px"></div>

</form>

